<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Page Users</title>
</head>
<body>
<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Role</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each = "user: ${people} ">
        <td><a th:text="${user.getId()}"></a></td>
        <td><a th:text="${user.getName()}"></a></td>
        <td><a th:text="${user.getSurname()}"></a></td>
        <td><a th:each = "role: ${user.getRoles()}" th:text="${role.getRole()} + ' '"></a></td>
        <td>
            <a th:href="@{/admin/user_id?nameId={id}(id=${user.getId()})}" class="btn btn-info btn-lg active"
               role="button" aria-pressed="true">Edit</a>
        </td>
        <td>
            <a th:href="@{/admin/delete?id={id}(id=${user.getId()})}" class="btn btn-danger btn-lg active"
               role="button" aria-pressed="true">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="/admin/newUser">Create new user</a>
</body>
</html>